PORT=4000
NODE_ENV=production
DB_AUTO_SETUP=false

DB_HOST=mysql
DB_PORT=3306
DB_USER=sistema_cobros_app
DB_PASSWORD=CAMBIAR_PASSWORD
DB_NAME=sistema_cobros

JWT_SECRET=CAMBIAR_POR_UN_SECRETO_LARGO
JWT_EXPIRES_IN=8h

FRONTEND_URL=https://tu-frontend.vercel.app
UPLOADS_DIR=src/uploads
STORAGE_DRIVER=s3

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=TU_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=TU_SECRET_KEY
AWS_S3_BUCKET=sistema-cobros-prod-files
AWS_S3_BASE_URL=https://sistema-cobros-prod-files.s3.us-east-1.amazonaws.com
